#Email Verification: 

We verify email addresses to ensure that they are genuine.

Steps to Verify Email Address: 

1. Click on the Top Left notification button
2. Click on Verify on Verify Email
3. Click on Send Verification Code
4. Enter the Verification code sent to your email address and click Verify.


![alt text][verify-email-1]

![alt text][verify-email-2]



[verify-email-1]: https://raw.githubusercontent.com/digipigeon/connexcs-user-docs/master/img/verify-email-1.png "verify-mobile-1"
[verify-email-2]: https://raw.githubusercontent.com/digipigeon/connexcs-user-docs/master/img/verify-email-2.png "verify-mobile-2"

