site_name: ConnexCS Documentation
site_url: https://www.connexcs.com
site_description: Connex Cloud Softswitch
site_author: ConnexCS Team
google_analytics: ['UA-155210453-1', 'docs.connexcs.com']
theme:
  name: material
  font: false 
  features:
    - navigation.instant
    - navigation.tabs
    - content.code.copy
  palette:
    - scheme: default
      toggle:
            icon: material/toggle-switch-off-outline
            name: Switch to dark mode
      primary: 4051b5
      accent: 526cfe
    - scheme: slate
      toggle:
            icon: material/toggle-switch
            name: Switch to light mode
      primary: 4051b5
      accent: 526cfe
        
            
extra_javascript:
- extra.js
# - https://unpkg.com/mermaid@7.1.2/dist/mermaid.min.js
extra_css:
  - stylesheets/extra.css
#  - https://unpkg.com/mermaid@7.1.2/dist/mermaid.css
plugins:
    - search
    - mermaid2
    - external-markdown

markdown_extensions:
  - admonition
  - codehilite:
      linenums: true
  - toc:
      permalink: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - def_list
  - footnotes

nav:
  - Cloudswitch:
    - Home: index.md
    - Customer Support: reporting-problems.md
    - Getting Started: getting-started.md
    - Dashboard : dashboard.md

    - Customer:
        - Customer: customer/customer.md
        - Main: customer/main.md
        - Auth: customer/auth.md
        - Alias: customer/alias.md
        - Routing: 
            - Ingress Routing: customer/routing.md
            - CLI: customer/cli.md
        - Payment: customer/payment.md
        - Stats: customer/stats.md
        - Route Stats: customer/route-stats.md
        - Custom Reports: customer/custom-reports.md
        - Latest Calls: customer/latest-calls.md
        - Dialogs: customer/dialogs.md
        - Alerts: customer/alerts.md
        - DID: customer/did.md
        - CDR: customer/cdr.md
        - Packages: customer/package.md
        - Invoices: customer/invoices.md
        - Contracts: customer/contracts.md
        - Documents: customer/documents.md
        - Class5: customer/class5.md
        - Tags: customer/tags.md
        - Circuit Test: circuit-test.md

    - Carrier: 
        - Carrier Overview: carrier.md
        - Main: carrier/carrier-main.md
        - Reply Management: carrier/carrier-reply-management.md
        - Auth: carrier/carrier-auth.md 
        - Failover: carrier/carrier-failover.md
        - Latest Calls: carrier/carrier-latest-calls.md
        - Payment: carrier/carrier-payment.md
        - Stats: carrier/carrier-stats.md
        - Custom Reports: carrier/carrier-custom-reports.md
        - Alerts: carrier/carrier-alerts.md
        - DID: carrier/carrier-did.md
        - DID Inventory: carrier/carrier-did-inventory.md
        - CDR: carrier/carrier-cdr.md
    
    - Rate Cards:
        - Rate Card Overview: rate-card-building.md
        - Provider Rate Card: provider-ratecard.md
        - Customer Rate Card: customer-ratecard.md 
    
    - Routing:
        - Routing Overview: routing.md
        - Routing Strategy: routing-strategy.md
        - Routing Global: global-routing.md
        - USA Routing: routing-usa.md
    
    - Tags: tag.md

    - Report: report.md  

    - Global:
        - Global: global.md
        - Transcription: transcription.md
        - Alias: global-alias.md 
    
    - Class 5:
        - AI Agent: class5/ai-agent.md
        - Knowledge Base: class5/knowledge-base.md
        - Apps: class5/apps.md
        - Conference: class5/creating-conference.md
        - Call Center: class5/call-center.md
        - IVR: class5/creating-ivr.md
        - Groups: class5/creating-group.md
        - Voicemail: class5/voicemail.md
        - Phonebook: class5/phonebook.md
        - ConneXML: class5/connexml.md        
       
    - IDE: ide.md
           
    - Data Suite: datasuite.md

    - Setup:
        - AnyEdge: anyedge/anyedge.md
        - App Store: setup/appstore.md
        - Settings:
            - Account: setup/settings/account.md
            - Payments: setup/settings/payments.md
            - Servers: setup/settings/servers.md
            - RTP Zones: setup/settings/rtp-zones.md
            - DNS: setup/settings/dns.md
            - User: setup/settings/users.md
            - Options: setup/settings/options.md
            - Data Retention: setup/settings/data-retention.md
        - Config:
            - Contracts: setup/config/contracts.md
            - Packages: setup/config/packages.md
            - SIP Profile: setup/config/sip-profile.md
        - Account Manager:
            - Commission: setup/account-manager/commission.md
            - Payment: setup/account-manager/payment.md
        - Advanced:
            - Language: setup/advanced/language.md
            - Firewall: setup/advanced/firewall.md
            - Prefix Set: setup/advanced/prefix-set.md
            - Reseller Account: setup/advanced/reseller.md
            - Fraud Profile: setup/advanced/fraud.md
            - RTP Block: setup/advanced/rtp-block.md
        - Integrations:
            - API: setup/integrations/api.md
            - Portal: setup/integrations/portal.md
            - WebPhone: webphone.md
        - Information:
            - Change Log: setup/information/change-log.md
            - Statement: setup/information/statements.md
            - Dial Code / Destination: setup/information/dial-code-destination.md
            - Payment Log: setup/information/payment-log.md
            - Audit Log: setup/information/audit-log.md
            - Certificate: setup/information/certificate.md
            - STIR/SHAKEN Cert: setup/information/stir-shaken.md
            - Jobs: setup/information/jobs.md
        - Network Ping: setup/network-ping.md

    - Architecture:
        - API: api.md
        - NAT Traversal: far-end-nat-traversal.md
        - Security: security.md
        - Scaling and Load Balancing: scaling-load-balancing.md
        - Specifications: spec.md        

    - Topical Guides:
        - NEW FCC Regulations on STIR/SHAKEN : guides/stir-shaken-fcc.md
        - Capacity Planning: guides/capacity-planning.md
        - Billing:
            - Billing Guide: guides/billing-guide.md
            - Billing Basics: billing-basics.md
            - Connex Billing: billing.md
            - Credit Control: credit-control.md
            - Voucher: voucher.md
        - ConnexCS Basics: 
            - Acronyms and Definitions: acronyms-and-definitions.md
            - Changing Language: changing-language.md
            - Changing Password: changing-password.md
            - Logging Out: logging-out.md
            - Number Manipulation: number-manipulation.md
        
        - SIP Traces, Pings and Messages: guides/sip-traces.md
        - Documents and Files: 
            - Document Guide: guides/doc-guide.md
            - File: files.md
        - Features:
            - 3-Digit Dialing: guides/3dig-ext.md
            - Do Not Call lists: dnc.md
            - Calling Card: calling-card.md
            - Capacity Limiting: limiting-cps.md
            - Feature List: feature-list.md
        - How To:
            - Locate Call-ID: guides/howto/callid.md
            - Restrict Users to Specific Countries/Routing: guides/howto/restrict-calling-plan.md
        - Monitoring: guides/monitoring.md
        - SIP Devices: sip-devices.md
        - Status Page (for Customer Portals): system-status.md
        - OSI Model: guides/osi-model.md
        - Major Telecom Regulatory Authorities: guides/major-telecom-regulatory-authorities.md
        - General Data Protection Regulation: guides/gdpr.md
        - Call Detail Record Retention: guides/cdr-retention.md
        - Spam Protection Features: guides/spam-callsblock.md
        - Channel Limitation Settings: guides/channel-limitations.md
        - Some Interesting Features: makecall.md
    
    - Troubleshooting: 
            - Call Connection/Signaling Issues: guides/tshoot-signal.md
            - Call Quality/Media Issues: guides/tshoot-media.md
            - Call Disconnection Reasons and Premature Call Disconnection: guides/call-disconnection-reasons.md
            - Debugging: guides/debugging.md
            - Logging: logging.md
            - Remote Testing: guides/remote-testing.md
            
    - Video Guide: video-guide.md
    - Terminal Tools: terminal-tools.md

  - Customer Portal:
    - Dashboard: customer-portal/cp-dashboard.md
    - CDR: customer-portal/cp-cdr.md
    - Breakout: customer-portal/cp-breakout.md
    - Authentication: customer-portal/cp-authentication.md
    - DID: customer-portal/cp-did.md
    - DID Purchase: customer-portal/cp-did-purchase.md
    - Invoice: customer-portal/cp-invoice.md
    - Customer Portal CLI: customer-portal/cp-cli.md
    - Latest Calls: customer-portal/cp-latest-calls.md
    - Dialogs: customer-portal/cp-dialogs.md
    - User Registration: customer-portal/cp-user-reg.md
    - PBX: 
        - Conference: customer-portal/cp-conference.md
        - IVR: customer-portal/cp-ivr.md
        - Group: customer-portal/cp-group.md
        - Audio: customer-portal/cp-audio.md
    - Alert: customer-portal/cp-alert.md
    - Setup: 
        - Contracts: customer-portal/cp-contracts.md
        - Documents: customer-portal/cp-documents.md    
    - Data Management: customer-portal/cp-data-management.md
    - Payment: customer-portal/cp-payment.md
    - Package: customer-portal/cp-package.md
    - Routes: customer-portal/cp-routes.md
    - Recording: customer-portal/cp-recording.md
    - Status: customer-portal/status.md
    - Interconnect: customer-portal/interconnect.md

  - WebPhone:
    - WebPhone App: webphoneapp.md
    - WebPhone (Legacy): webphone.md

  - Apps Platform: 
    - Introduction: apps/introduction.md
    - Use Cases: apps/use-case.md
    - Features: apps/features.md
    - Architecture:
        - Architecture: apps/architecture/architecture.md
        - Applications: apps/architecture/app.md
        - Button Builder: apps/architecture/button-builder.md
        - Databases: apps/architecture/database.md
        - Domain: apps/architecture/domain.md
        - Key Value Store: apps/architecture/key-value.md
        - Page Builder: apps/page-builder.md
        - Script Forge: apps/architecture/script.md
        - Template: apps/architecture/template.md
        - Query Builder: apps/architecture/query-builder.md
        - Project: apps/architecture/project.md
        - Pub / Sub Bus: apps/architecture/pub-sub.md
        - Environmental Variables: apps//architecture/environmental-variables.md
    - Components:
        - Alert: apps/components/alert.md
        - Button: apps/components/button.md
        - Card: apps/components/card.md
        - Cascader: apps/components/cascader.md
        - Chart: apps/components/chart.md
        - Checkbox: apps/components/checkbox.md
        - Collapse: apps/components/collapse.md
        - Color: apps/components/color.md
        - Data Grid: apps/components/data-grid.md
        - Date: apps/components/date.md
        - Dialog: apps/components/dialog.md
        - Divider: apps/components/divider.md
        - Editor: apps/components/editor.md
        - Grid: apps/components/grid.md
        - Group: apps/components/group.md
        - HTML: apps/components/html.md
        - I-Frame: apps/components/iframe.md
        - Inline: apps/components/inline.md
        - Input: apps/components/input.md
        - Link: apps/components/link.md
        - Number: apps/components/number.md
        - Page Layout: apps/components/page-layout.md
        - Pagination: apps/components/pagination.md
        - Portal: apps/components/portal.md
        - Radio: apps/components/radio.md
        - Rate: apps/components/rate.md
        - Select: apps/components/select.md
        - Slider: apps/components/slider.md
        - Statistic: apps/components/statistic.md
        - Steps: apps/components/steps.md
        - Sub Form: apps/components/sub-form.md
        - Sub Form+: apps/components/sub-form+.md
        - Switch: apps/components/switch.md
        - Table: apps/components/table.md
        - Tabs: apps/components/tabs.md
        - Text: apps/components/text.md
        - Text Area: apps/components/text-area.md
        - Time: apps/components/time.md
        - Transfer: apps/components/transfer.md
        - Tree Select: apps/components/tree-select.md
        - Webphone: apps/components/webphone.md
    - Contact Center:
        - Introduction: customer-portal/cp-contact-center.md
        - Contact Center Setup & Usage Guide: customer-portal/cp-cc-install.md
        - Preview Dialer: customer-portal/cp-cc-pd.md
        - Auto Dialer: customer-portal/cp-cc-ad.md
        - Broadcast Dialer: customer-portal/cp-cc-bd.md

    
