site_name: ConnexCS Documentation
site_url: https://www.connexcs.com
site_description: Connex Cloud Softswitch
site_author: ConnexCS Team
google_analytics: ['UA-155210453-1', 'docs.connexcs.com']
theme:
  name: material 
  features:
    - navigation.instant
    - navigation.tabs
extra_javascript:
- extra.js
# - https://unpkg.com/mermaid@7.1.2/dist/mermaid.min.js
#extra_css:
#  - https://unpkg.com/mermaid@7.1.2/dist/mermaid.css
plugins:
    - search
    - mermaid2

markdown_extensions:
  - admonition
  - codehilite:
      linenums: true
  - toc:
      permalink: true
  - pymdownx.tabbed:
      alternate_style: true 
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - def_list

nav:
  - Cloudswitch:
    - Home: index.md
    - Getting Started: getting-started.md
    - Customer Support: reporting-problems.md
    - Dashboard : dashboard.md

    - Customer:
        - Customer: customer/customer.md
        - Main: customer/main.md
        - Auth: customer/auth.md
        - Alias: customer/alias.md
        - Routing: 
            - Ingress Routing: customer/routing.md
            - CLI: customer/cli.md
        - Payment: customer/payment.md
        - Stats: customer/stats.md
        - Route Stats: customer/route-stats.md
        - Latest Calls: customer/latest-calls.md
        - Dialogs: customer/dialogs.md
        - Alerts: customer/alerts.md
        - DID: customer/did.md
        - CDR: customer/cdr.md
        - Packages: customer/package.md
        - Invoices: customer/invoices.md
        - Contracts: customer/contracts.md
        - Documents: customer/documents.md
        - Class5: customer/class5.md
        - Tags: customer/tags.md


    - Carrier: carrier.md
        
    - Rate Cards:
        - Rate Card Overview: rate-card-building.md
        - Provider Rate Card: provider-ratecard.md
        - Customer Rate Card: customer-ratecard.md 
    
    - Routing:
        - Routing Overview: routing.md
        - Routing Strategy: routing-strategy.md
        - Routing Global: global-routing.md
        - USA Routing: routing-usa.md
    
    - Report: report.md  

    - Global:
        - Global: global.md
        - Transcription: transcription.md
    
    - Class 5 (UCS):
        - Apps: class5/apps.md
        - Conference: class5/creating-conference.md
        - IVR: class5/creating-ivr.md
        - Groups: class5/creating-group.md
        - Voicemail: class5/voicemail.md
        - Phonebook: class5/phonebook.md        
       
    - Developer:
        - Analytics: developers/analytics.md
        - Button Builder: developers/button-builder.md
        - Database: developers/database.md 
        - Form Builder: developers/form-builder.md
        - ScriptForge: developers/scriptforge.md
        - Pages:
            - Introduction: developers/pages/introduction.md
            - Basic Field: developers/pages/basic-field.md
            - Advance Field: developers/pages/advance-field.md
            - Layout: developers/pages/layout.md
           
    - Setup:
        - AnyEdge: anyedge/anyedge.md
        - Settings:
            - Account: setup/settings/account.md
            - Payments: setup/settings/payments.md
            - Servers: setup/settings/servers.md
            - RTP Zones: setup/settings/rtp-zones.md
            - DNS: setup/settings/dns.md
            - User: setup/settings/users.md
            - Options: setup/settings/options.md
            - Data Retention: setup/settings/data-retention.md
        - Config:
            - Contracts: setup/config/contracts.md
            - Packages: setup/config/packages.md
            - Templates: setup/config/templates.md
        - Advanced:
            - Language: setup/advanced/language.md
            - Firewall: setup/advanced/firewall.md
            - Prefix Set: setup/advanced/prefix-set.md
            - Reseller Account: setup/advanced/reseller.md
            - Fraud Profile: setup/advanced/fraud.md
        - Integrations:
            - API: setup/integrations/api.md
            - Portal: setup/integrations/portal.md
            - WebPhone: webphone.md
        - Information:
            - Statement: setup/information/statements.md
            - Dial Code / Destination: setup/information/dial-code-destination.md
            - Payment Log: setup/information/payment-log.md
            - Certificate: setup/information/certificate.md
            - STIR/SHAKEN Cert: setup/information/stir-shaken.md
            - Browsing Recording: setup/information/recording.md
            - Jobs: setup/information/jobs.md

    - Architecture:
        - API: api.md
        - NAT Traversal: far-end-nat-traversal.md
        - Security: security.md
        - Scaling and Load Balancing: scaling-load-balancing.md
        - Specifications: spec.md        

    - Topical Guides:
        - NEW FCC Regulations on STIR/SHAKEN : guides/stir-shaken-fcc.md
        - Billing:
            - Billing Guide: guides/billing-guide.md
            - Billing Basics: billing-basics.md
            - Connex Billing: billing.md
            - Credit Control: credit-control.md
            - Voucher: voucher.md
        - ConnexCS Basics: 
            - Acronyms and Definitions: acronyms-and-definitions.md
            - Changing Language: changing-language.md
            - Changing Password: changing-password.md
            - Logging Out: logging-out.md
            - Number Manipulation: number-manipulation.md
        - SIP Traces, Pings and Messages: guides/sip-traces.md
        - Documents and Files: 
            - Document Guide: guides/doc-guide.md
            - File: files.md
        - Features:
            - 3-Digit Dialing: guides/3dig-ext.md
            - Do Not Call lists: dnc.md
            - Calling Card: calling-card.md
            - Capacity Limiting: limiting-cps.md
            - Feature List: feature-list.md
        - How To:
            - Locate Call-ID: guides/howto/callid.md
            - Resrict Users to Specific Countries/Routing: guides/howto/restrict-calling-plan.md
        - Monitoring: guides/monitoring.md
        - SIP Devices: sip-devices.md
        - Status Page (for Customer Portals): system-status.md
        - OSI Model: guides/osi-model.md
        - Major Telecom Regulatory Authorities: guides/major-telecom-regulatory-authorities.md
    
    - Troubleshooting: 
        - Call Connection/Signaling Issues: guides/tshoot-signal.md
        - Call Quality/Media Issues: guides/tshoot-media.md
        - Circuit Test: circuit-test.md
        - Call Disconnection Reasons and Premature Call Disconnection: guides/call-disconnection-reasons.md
        - Debugging: guides/debugging.md
        - Logging: logging.md
        - Remote Testing: guides/remote-testing.md
            
    - Video Guide: video-guide.md

  - Customer Portal:
    - Dashboard: customer-portal/cp-dashboard.md
    - CDR: customer-portal/cp-cdr.md
    - Breakout: customer-portal/cp-breakout.md
    - Authentication: customer-portal/cp-authentication.md
    - DID: customer-portal/cp-did.md
    - Invoice: customer-portal/cp-invoice.md
    - CLI: customer-portal/cp-cli.md
    - Latest Calls: customer-portal/cp-latest-calls.md
    - Dialogs: customer-portal/cp-dialogs.md
    - User Registration: customer-portal/cp-user-reg.md
    - PBX: 
        - Conference: customer-portal/cp-conference.md
        - IVR: customer-portal/cp-ivr.md
        - Group: customer-portal/cp-group.md
        - Queue: customer-portal/cp-queue.md
        - Audio: customer-portal/cp-audio.md
    - Alert: customer-portal/cp-alert.md
    - Setup: 
        - Contracts: customer-portal/cp-contracts.md
        - Documents: customer-portal/cp-documents.md    
    - Data Management: customer-portal/cp-data-management.md
    - Payment: customer-portal/cp-payment.md
    - Package: customer-portal/cp-package.md
    - Routes: customer-portal/cp-routes.md
    - Recording: customer-portal/cp-recording.md
    - Status: customer-portal/status.md
    - Interconnect: customer-portal/interconnect.md

  - WebPhone: 
    - WebPhone: webphone.md
