#Mobile Verification: 

We verify mobile phone numbers to ensure that they are genuine.

Steps to Verify Mobile Number

1. Click on the Top Left notification button
2. Click on Verify on Verify Mobile
3. Click on Edit
4. Enter the phone number in e.164 format and click save
5. Click on Send Verification Code
6. Enter the Verification code sent to your mobile and click Verify.


![alt text][verify-mobile-1]

![alt text][verify-mobile-2]



[verify-mobile-1]: https://raw.githubusercontent.com/digipigeon/connexcs-user-docs/master/img/verify-mobile-1.png "verify-mobile-1"
[verify-mobile-2]: https://raw.githubusercontent.com/digipigeon/connexcs-user-docs/master/img/verify-mobile-2.png "verify-mobile-2"
