#Email Verification: 

We verify email addresses to ensure that they are genuine.

Steps to Verify Email Address: 

1. Click on the Top Left notification button
2. Click on Verify on Verify Email
3. Click on Send Verification Code
4. Enter the Verification code sent to your email address and click Verify.


![alt text][verify-email-1]

![alt text][verify-email-2]

#Mobile Verification: 

We verify mobile phone numbers to ensure that they are genuine.

Steps to Verify Mobile Number

1. Click on the Top Left notification button
2. Click on Verify on Verify Mobile
3. Click on Edit
4. Enter the phone number in e.164 format and click save
5. Click on Send Verification Code
6. Enter the Verification code sent to your mobile and click Verify.


![alt text][verify-mobile-1]

![alt text][verify-mobile-3]

![alt text][verify-mobile-2]



[verify-mobile-1]: https://raw.githubusercontent.com/digipigeon/connexcs-user-docs/master/img/verify-mobile-1.png "verify-mobile-1"
[verify-mobile-3]: https://raw.githubusercontent.com/digipigeon/connexcs-user-docs/master/img/verify-mobile-3.png "verify-mobile-3"
[verify-mobile-2]: https://raw.githubusercontent.com/digipigeon/connexcs-user-docs/master/img/verify-mobile-2.png "verify-mobile-2"


[verify-email-1]: https://raw.githubusercontent.com/digipigeon/connexcs-user-docs/master/img/verify-email-1.png "verify-mobile-1"
[verify-email-2]: https://raw.githubusercontent.com/digipigeon/connexcs-user-docs/master/img/verify-email-2.png "verify-mobile-2"

