#Email Verification: 

Email verification is the process by which ConnexCS determines if an email address is genuine. It is a measure against unauthorized users accessing customer accounts. It works similiar to most email verification mechanisms. The system sends a verification code to the user's email, which is verified when the user enters the code back into the verification 

Here are the steps to Verify Email Address: 

1. Click the notification button in the top-left.
2. Select the **`Verify`** button next to **Verify Email**.
3. Click  **Send Verification Code**.
4. Enter the verification code that was sent to your email address, and click then click **`Verify`**.


![alt text][verify-email-1]

![alt text][verify-email-2]



[verify-email-1]: https://raw.githubusercontent.com/digipigeon/connexcs-user-docs/master/img/verify-email-1.png "verify-mobile-1"
[verify-email-2]: https://raw.githubusercontent.com/digipigeon/connexcs-user-docs/master/img/verify-email-2.png "verify-mobile-2"

