#Mobile Verification: 

**Mobile Veirification** is the process by which we verify mobile phone numbers to ensure that they are genuine. It is an extension of [e-mail verification]. 

![alt text][verify-mobile-1]

1. Click the notification button in the top-left of the page.
2. Click the **`Verify`** button next to **Verify Mobile**.
3. Click **`Edit`**.
4. Enter a phone number in e.164 format, and click **`Save`**
5. Click **`Send Verification Code`**.
6. Enter the verification code sent to your mobile and click **Verify**.

![alt text][verify-mobile-3]

![alt text][verify-mobile-2]

[verify-mobile-1]: https://raw.githubusercontent.com/digipigeon/connexcs-user-docs/master/img/verify-mobile-1.png "verify-mobile-1"
[verify-mobile-3]: https://raw.githubusercontent.com/digipigeon/connexcs-user-docs/master/img/verify-mobile-3.png "verify-mobile-3"
[verify-mobile-2]: https://raw.githubusercontent.com/digipigeon/connexcs-user-docs/master/img/verify-mobile-2.png "verify-mobile-2"
