# Verification
## Email Verification 

We verify email addresses to ensure they are genuine. To verify an email address:

1. Click the notification icon in the top-left.
2. Click the **`Verify`** button next to **Verify Email**.
3. Click **Send Verification Code**.
4. Enter the Verification code sent to your email address, and click **Verify**.


![alt text][verify-email-1]

![alt text][verify-email-2]


## Mobile Verification 

We also verify mobile phone numbers to ensure that they are genuine.

Steps to Verify Mobile Number

1. Click the notification icon in the top-left.
2. Click the **`Verify`** button next to **Verify Mobile**.
3. Click **Edit** and enter the phone number in e.164 format and 
4. Click the **Save** button.
5. Click on **Send Verification Code**.
6. Enter the Verification code sent to your mobile device, and click **Verify**.


![alt text][verify-mobile-1]

![alt text][verify-mobile-3]

![alt text][verify-mobile-2]



[verify-mobile-1]: /verification/img/verify-mobile-1.png "verify-mobile-1"
[verify-mobile-2]: /verification/img/verify-mobile-2.png "verify-mobile-2"
[verify-mobile-3]: /verification/img/verify-mobile-3.png "verify-mobile-3"

[verify-email-1]: /verification/img/verify-email-1.png "verify-email-1"
[verify-email-2]: /verification/img/verify-email-2.png "verify-email-2"

