name: GitHub to ClickUp (Simple)

on:
  issues:
    types: [opened]

jobs:
  create-task:
    runs-on: ubuntu-latest

    steps:
      - name: Create ClickUp task
        run: |
          curl -X POST "https://api.clickup.com/api/v2/list/${{ secrets.CLICKUP_LIST_ID }}/task" \
          -H "Authorization: ${{ secrets.CLICKUP_API_TOKEN }}" \
          -H "Content-Type: application/json" \
          -d '{
            "name": "GitHub Issue #${{ github.event.issue.number }}: ${{ github.event.issue.title }}",
            "description": "Created from GitHub\n\n${{ github.event.issue.html_url }}\n\n${{ github.event.issue.body }}"
          }'
